{% extends "main/base.html" %}
{% load static %}

{% block title %}Меню{% endblock title %}

{% block content %}
<section class="home_list">
    <div class="sidebar">
        <ul>
            {% for cat in categories %}
                <li {% if category and category.slug == cat.slug %}class="selected"{% endif %}>
                    <a href="{% url 'main:product_list_by_category' category_slug=cat.slug %}">{{ cat.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="category_name">
    {% if category %}
    <span class="category_name_font"><h2>Категория: {{ category.name }} </h2></span>
    </div>
    {% endif %}
    <div class="product-grid">
        {% for product in products %}
            <div class="product-card">
                <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/noimage.png' %}{% endif %}" class="product-image">
                <div class="product-details">
                    <h3 class="product-title">{{ product.name }}</h3>
                    <p class="product-description">{{ product.description }}</p>
                    
                    <form action="{% url 'cart:cart_add' product.id %}" method="post">
                        {% csrf_token %}
                        {% if product.size %}
                            <div class="size-selection">
                                {% for size in product.size %}
                                    <label>
                                        <input type="radio" name="size" value="{{ size|lower }}" {% if forloop.first %}checked{% endif %}>
                                        <span>{{ size|capfirst }}</span>
                                    </label>
                                {% endfor %}
                            </div>
                        {% endif %}
                        
                        <div class="quantity">
                            <label for="quantity_{{ product.id }}">Количество:</label>
                            <select id="quantity_{{ product.id }}" name="quantity">
                                {% for i in form.quantity.field.choices %}
                                    <option value="{{ i.0 }}">{{ i.1 }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        
                        <input type="hidden" name="override" value="False">
                        <button type="submit" class="add-button">Добавить</button>
                    </form>

                    <div class="product-bottom">
                        <span class="product-price">{{ product.price }}</span>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</section>
{% endblock content %}
