{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'bootstrap\css\bootstrap.min.css' %}">
    <link rel="stylesheet" href={% static 'css/base.css' %}>
</head>
<body>
    <header class="navbar">
        <a href="/menu" class="active">Меню</a>
        <a href="/cart">Корзина
            {% if cart_item_count > 0 %}
                <span class="cart-item-count">{{ cart_item_count }}</span>
            {% endif %}
        </a>
        <a href="{% url 'users:login' %}">Войти</a>
        <a href="#about">О нас</a>
    </header>
    <div class="container">
        {% block content %}
        {% endblock content %}
    </div>
    <script src="{% static 'bootstrap\js\bootstrap.bundle.min.js' %}"></script>
</body>
</html>